Sequence.csv filter=lfs diff=lfs merge=lfs -text
Compound.csv filter=lfs diff=lfs merge=lfs -text
CompoundExternalDescriptor.csv filter=lfs diff=lfs merge=lfs -text
CompoundSynonym.csv filter=lfs diff=lfs merge=lfs -text
Nutrient.csv filter=lfs diff=lfs merge=lfs -text
OntologySynonym.csv filter=lfs diff=lfs merge=lfs -text
OntologyTerm.csv filter=lfs diff=lfs merge=lfs -text
Pathway.csv filter=lfs diff=lfs merge=lfs -text
PdbIdentifier.csv filter=lfs diff=lfs merge=lfs -text
CompoundsEnzyme.csv filter=lfs diff=lfs merge=lfs -text
CompoundsFlavor.csv filter=lfs diff=lfs merge=lfs -text
Content.csv filter=lfs diff=lfs merge=lfs -text
EnzymeSynonym.csv filter=lfs diff=lfs merge=lfs -text
FoodTaxonomy.csv filter=lfs diff=lfs merge=lfs -text
Flavor.csv filter=lfs diff=lfs merge=lfs -text
PfamMembership.csv filter=lfs diff=lfs merge=lfs -text
Food.csv filter=lfs diff=lfs merge=lfs -text
HealthEffect.csv filter=lfs diff=lfs merge=lfs -text
MapItemsPathway.csv filter=lfs diff=lfs merge=lfs -text
AccessionNumber.csv filter=lfs diff=lfs merge=lfs -text
CompoundAlternateParent.csv filter=lfs diff=lfs merge=lfs -text
CompoundsPathway.csv filter=lfs diff=lfs merge=lfs -text
CompoundSubstituent.csv filter=lfs diff=lfs merge=lfs -text
Enzyme.csv filter=lfs diff=lfs merge=lfs -text
